@import url("https://fonts.googleapis.com/css?family=Sriracha&display=swap");
body {
  background-color: yellow;
  font-family: "Sriracha", cursive;
  margin: 0 auto;
}

nav {
  border: 3px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: purple;
  width: 100vw;
}
nav img {
  width: 150px;
  height: 100px;
}
nav a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}
.images-box {
  border: 2px solid red;
  display: flex;
}

.images-box div {
  border: 2px solid green;
  margin: 30px;
}

.text {
  width: 20px;
}
